<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>426770896699-kn3953gcdlfjoda2clskusspljjbc0f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426770896699-kn3953gcdlfjoda2clskusspljjbc0f4</string>
	<key>API_KEY</key>
	<string>AIzaSyD3BDQl7_aADYBloR7yW6quG3ihvfandMU</string>
	<key>GCM_SENDER_ID</key>
	<string>426770896699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humrajgill.prototype</string>
	<key>PROJECT_ID</key>
	<string>prototype-e9fc5</string>
	<key>STORAGE_BUCKET</key>
	<string>prototype-e9fc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426770896699:ios:ad44b4c455b4633e</string>
	<key>DATABASE_URL</key>
	<string>https://prototype-e9fc5.firebaseio.com</string>
</dict>
</plist>